html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.table {
    color: white;
    display: flex;
    z-index: 1;
}

.table__counter {
    font-size: 40px;
}

body {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 0;
}